label {
    font-size: 1.4em;
    margin: 10px;
    color: #e2d1d1;
}

input[type=text] {
    padding: 12px 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    margin: auto;
}

.title-form {
    font-size: 2em;
    color: #e2d1d1;
}

.header{
    background-color: rgb(105, 10, 10);
    border: 1px solid black;
    height: 20vh;
}

.footer {
    background-color: rgb(105, 10, 10);
    height: 10vh;
    border: 1px solid black;
}

.center {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dea5a5
}

.container {
    height: 90%;
    background-color: brown;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}

.form {
    height: 80%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.form-div {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-div-description {
    height: 33%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-button {
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #730000;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
